* {
  overflow-x: hidden;
  z-index: 1;
  padding: 0px;
  margin: 3px;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background-color: white;
}

.container {
  position: static;
  justify-content: center;
  align-items: center;
}
.content {
  position: relative;
  justify-content: center;
  align-items: center;
}
.content-inicio{
    position: static;
    justify-content: center;
    align-items: center;
    background-image: url(2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 60vh;
    padding: 15px;
}
.content-desarrollo{
    position: relative;
    margin-left: 5%;
    margin-top: 2%;
    padding: 15px;
    color: black;
}
.content-desarrollo h3{
    font-size: 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 5px;
    width: 10%;
}
.content-titulo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    font-size: 40px;
    font-weight: 100;
}
.content-titulo h1{
    color: black;
}
.content-titulo span{
    color: white;
    background-color: rgb(15, 207, 41);
    border-radius: 80%;
    padding: 30px;
    float: left;
    margin-right: 15%;
}
.content-desarrollo p{
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.content-venta{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 15px;
    flex-wrap: wrap;
}
.content-venta2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 15px;
    flex-wrap: wrap;
}
.img-1{
    margin: 20px;
}
.img-2{
    margin: 20px;
}
.img-3{
    margin: 20px;
}
.img-4{
    margin: 20px;
}
.img-5{
    margin: 20px;
}
.img-6{
    margin: 20px;
}
.bold-designer{
    font-size: 70%;
}
.content-venta-tachado{
    text-decoration:line-through red;
}
.content-fooster{
    position: relative;
    background-color: black;
    padding: 40px;
    width: 90%;
    height: 80%;
    left: 5%;
}
button{
    position: relative;
    background-color: rgb(15, 207, 133);
    border: 0;
    border-radius: 30px;
    padding: 15px;
    font-size: 18px;
    color: white;
    float: left;
    left: 20%;
    bottom: 15%;
}
 button:hover{
    background-color: rgb(0, 255, 0);
    opacity: 0.5;
 }
 button:active{
    background-color: red;
 }
 @media (max-width: 768px) {
    .content-titulo {
      font-size: 30px; 
    }
  
    .content-venta, .content-venta2 {
      flex-direction: column; 
      align-items: center;
    }
  
    .img-1, .img-2, .img-3, .img-4, .img-5, .img-6 {
      width: 100%; 
    }
  }
  
  @media (max-width: 480px) {
    .content-titulo {
      font-size: 24px; 
    }
  }