body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: none;
    overflow-x: hidden;
}
 .cajas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    text-align: center;
    color: white;
    padding: 0;
    border: 0;
    margin: 0 none;
}
.caja1{
    background-color: rgb(235, 174, 95);
    padding: 20px;
    width: 100vw;
    height: 150px;
    margin: 0 none;
    border: 0 none;
}
.caja2{
    background-color: rgb(8, 146, 31);
    padding: 20px;
    width: 100vw;
    height: 200px;
    margin: 0 none;
    border: 0 none;
}
.doble{
    display: flex;
    flex-direction: row;
    width: 81%;
}
.caja3{
    background-color: red;
    padding: 20px; 
    width: 70%;
    margin: 1%;
}
.caja4{
    background-color: red;
    padding: 20px; 
    width: 70%;
    margin: 1%;
}
.caja5{
    background-color: red;
    padding: 20px; 
    width: 75%;
    margin: 1%;
}
.caja6{
    background-color: red;
    padding: 20px; 
    width: 70%;
    margin: 1%;
}
.caja7{
    background-color: red;
    padding: 20px; 
    width: 70%;
    margin: 1%;
}
.caja8{
    background-color: rgb(8, 146, 31);
    padding: 20px;
    width: 100vw;
    height: 50px;
    margin: 0 none;
    border: 0 none;
}